<section>
    
    <h1 class="font-extralight text-6xl mb-4">Untitled</h1>
    
    <h2 class="text-3xl font-thin mb-7">George Zalepa (2023)</h2>

    <p class="w-6/12 mb-52">In the realm of artistic creation, my untitled pieces serve as intimate bridges between myself and the observer. While themed works may possess their unique gravitational pull, these untitled creations are raw forays into the vast expanse of human emotion and perception. They are spontaneous, a shade more fervent, and, in many aspects, an unadulterated reflection of artistic vulnerability. Through a vivid dance of colors and daring experimentations, these pieces eschew thematic constraints, allowing for a direct, sincere dialogue with the viewer. These untitled works capture not just art, but pure, unfiltered emotion, speaking to them in the universal language of color and form.</p>

    <div class="mb-52">
      <%= link_to image_path('untitled/untitled_1.jpg') do %>
        <%= image_tag 'untitled/untitled_1@0.25x.jpg' %>
      <% end %>
      <h1 class="italic text-xs text-gray-500">Untitled (1). Oil on canvas, 18&quot; × 14&quot; (45.72 × 35.56 cm)</h1>
    </div>
    <div class="mb-52">
      <%= link_to image_path('untitled/untitled_2.jpg') do %>
        <%= image_tag 'untitled/untitled_2@0.25x.jpg' %>
      <% end %>
      <h1 class="italic text-xs text-gray-500">Untitled (2). Acrylic on canvas, 18&quot; × 14&quot; (45.72 × 35.56 cm)</h1>
    </div>
    <div class="mb-52">
      <%= link_to image_path('untitled/untitled_3.jpg') do %>
        <%= image_tag 'untitled/untitled_3@0.25x.jpg' %>
      <% end %>
      <h1 class="italic text-xs text-gray-500">Untitled (3). Oil on canvas, 18&quot; × 14&quot; (45.72 × 35.56 cm)</h1>
    </div>
    <div class="mb-52">
      <%= link_to image_path('untitled/untitled_4.jpg') do %>
        <%= image_tag 'untitled/untitled_4@0.25x.jpg' %>
      <% end %>
      <h1 class="italic text-xs text-gray-500">Untitled (4). Acrylic on canvas, 28&quot; × 22&quot; (71.12 × 55.88 cm)</h1>
    </div>
    <div class="mb-52">
      <%= link_to image_path('untitled/untitled_5.jpg') do %>
        <%= image_tag 'untitled/untitled_5@0.25x.jpg' %>
      <% end %>
      <h1 class="italic text-xs text-gray-500">Untitled (5). Arcylic and paper collage on canvas, 35&quot; × 24&quot; (86.36 × 63.5 cm)</h1>
    </div>
    <div class="mb-52">
      <%= link_to image_path('untitled/untitled_6.jpg') do %>
        <%= image_tag 'untitled/untitled_6@0.25x.jpg' %>
      <% end %>
      <h1 class="italic text-xs text-gray-500">Untitled (6). Acrylic and paper collage on canvas, three panels, 12&quot; × 12&quot; (30.48 × 30.48 cm) each</h1>
    </div>
</section>